@mixin button($type)
  border: none
  color: #ffffff
  border-radius: 5px
  padding: 10px

  @if $type == 'positive'
    background-color: #00cc00

  @else if $type == 'negative'
    background-color: #cc0700

  @else if $type == 'neutral'
    background-color: #ebebeb
    color: #000

  &:hover
    @if $type == 'positive'
      background-color: darken(#00cc00, 1.5)
      cursor: pointer

    @if $type == 'negative'
      background-color: darken(#cc0700, 1.5)
      cursor: pointer

    @if $type == 'neutral'
      background-color: darken(#ebebeb, 1.5)
      cursor: pointer

  &:disabled
    cursor: not-allowed
    background-color: #dddddd